#### Author: Maryam Askari

We would like to train a model and choose the best model.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

COST_1 = 10
COST_2 = 500

Read data from .csv files

In [3]:
train_dataset = pd.read_csv('D:\Machine Learning projects\/aps_failure_training_set.csv', skiprows=20)
test_dataset = pd.read_csv('D:\Machine Learning projects\/aps_failure_test_set.csv', skiprows=20)

In [4]:
dataset = pd.concat(
    [train_dataset, test_dataset],
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
).reset_index(drop=True)
# dataset = pd.DataFrame(dataset)
dataset.replace('na', np.nan, inplace=True )

In [5]:
X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0].values

In [6]:
dataset

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,NaN,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,NaN,0,NaN,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,NaN,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,NaN,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75995,neg,81852,NaN,2130706432,892,0,0,0,0,0,...,632658,273242,510354,373918,349840,317840,960024,25566,0,0
75996,neg,18,0,52,46,8,26,0,0,0,...,266,44,46,14,2,0,0,0,0,0
75997,neg,79636,NaN,1670,1518,0,0,0,0,0,...,806832,449962,778826,581558,375498,222866,358934,19548,0,0
75998,neg,110,NaN,36,32,0,0,0,0,0,...,588,210,180,544,1004,1338,74,0,0,0
75999,neg,8,0,6,4,2,2,0,0,0,...,46,10,48,14,42,46,0,0,0,0

### Replacing na with mean of values in a column

In [7]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X)
X = imputer.transform(X)

In [8]:
print(X)

[[7.66980000e+04 7.25560434e-01 2.13070644e+09 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [3.30580000e+04 7.25560434e-01 0.00000000e+00 ... 1.50000000e+03
  0.00000000e+00 0.00000000e+00]
 [4.10400000e+04 7.25560434e-01 2.28000000e+02 ... 5.14000000e+02
  0.00000000e+00 0.00000000e+00]
 ...
 [7.96360000e+04 7.25560434e-01 1.67000000e+03 ... 1.95480000e+04
  0.00000000e+00 0.00000000e+00]
 [1.10000000e+02 7.25560434e-01 3.60000000e+01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [8.00000000e+00 0.00000000e+00 6.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

### Encoding the Dependent Variable(y)

In [9]:
from sklearn.preprocessing import LabelEncoder
print(y)

['neg' 'neg' 'neg' ... 'neg' 'neg' 'neg']

In [10]:
le = LabelEncoder()
y = le.fit_transform(y)

In [11]:
print(y)

[0 0 0 ... 0 0 0]

#### Splitting the dataset into the Training set and Test set

In [14]:
X_train = X[:60000, :]
X_test = X[60000:, :]

y_train = y[:60000]
y_test = y [60000:]

#print(X_train)
#print(X_test)
#print(y_train)
#print(y_test)

### Feature scaling

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# PCA

In [ ]:
from sklearn.decomposition import PCA